<div class="container">
  <h1>The power of writing</h1>
  <h2><%= @blog_post.title %></h2>
  <p><%= @blog_post.content %></p>
  <p><%= @blog_post.user.email %></p>
  <p><%= @blog_post.created_at %></p>
</div>
